<!DOCTYPE html>
<html>
  <head>
    <title>Nasafinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-light justify-content-between">
      <%= link_to 'NASA', root_path, class: 'navbar-brand center' %>

      <%= form_tag(search_page_path, :method => "get",   
          class: 'form-inline') do %>  
        <div class="input-group">  
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>  
          <div class="input-group-btn">  
            <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
          </div>  
        </div>  
      <% end %>
      

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do %> Todays picture
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
          </div>
          <div class="a col-12 col-sm-3">
            <b>Contact</b>
            <br />
            daveacamposc@gmail.com
            <br />
            <b><%= link_to 'https://github.com/DaveCasts' do %>My GitHub</b>
            <br />
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
